body{
    margin: 0;
}
.calender-container{
    width: 50%;
    display: inline-block;
    padding-top: 60px;
    padding-left: 5%;
}
.calender-container .cal-top{
    position: relative;
    text-align: center;
    background-color: #696969;
    color: #fff;
}
.calender-container .cal-top .prev-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.calender-container .cal-top .next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.calender-container .cal-top .calender-date{
    padding: 10px 40px;
}
.calender-container .cal-top .calender-date h1,h2,p{
    margin: 0;
    padding-bottom: 10px;
}
.calender-container .cal-months .months ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    background-color: #C9C9C9;
    color: #fff;
}
.calender-container .cal-months .months ul li{
    width: calc(100%/12);
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.calender-container .cal-months .months ul li.this-month{
    color: green;
}
.calender-container .cal-months .months ul li:hover{
    cursor: pointer;
    color: green;
}
.calender-container .cal-body{
    background-color: #3EB595;
    color: #fff;
}
.calender-container .cal-body .week-days ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 10px 0px;
}
.calender-container .cal-body .week-days ul li{
    width: calc(100%/7);
    text-align: center;
    padding: 10px;
}
.calender-container .cal-body .days-holder{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.calender-container .cal-body .days-holder li{
    width: calc(calc(100%/7) - 1.75px);
    text-align: center;
    border: .5px solid #fff;
    transition: all .5s ease-in-out;
}
.calender-container .cal-body .days-holder li:nth-child(7n)
{
    border-right: 0px;
}
.calender-container .cal-body .days-holder li:nth-child(7n+1){
    border-left: 0px;
}
.calender-container .cal-body .days-holder li.prev-date span,
.calender-container .cal-body .days-holder li.next-date span{
    opacity: .5;
    cursor: not-allowed;
}
.calender-container .cal-body .days-holder li.today{
    background-color: rgb(72, 151, 72);
    border-color: green;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
}
.calender-container .cal-body .days-holder li.current-date:hover{
    background-color: rgb(72, 151, 72);
    border-color: green;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.calender-container .cal-body .days-holder li span{
    display: block;
    padding: 10px 0px;
    cursor: pointer;
}
.calender-container .cal-body .days-holder li span.has-event{
    background-color: #fff;
    color: #3EB595;
}
.event-container{
    display: inline-block;
    padding-left: 40px;
}
.event-container .date-container{
    display: inline-block;
    padding: 10px;
    background-color: #3EB595;
    color: #fff; 
}
.event-container .name-container{
    display: inline-block;
    background-color: #696969;
    padding: 10px;
    color: #fff;
}
.event-container .name-container a{
    color: #fff;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.event-container .name-container a:hover{
    color: #000;
}