.slider-container{
    width: 50%;
    height: 400px;
    padding: 40px;
    position: relative;
    transition: all .5s ease-in-out;
    margin: 0 auto;
}
.slider-container .for-slides{
    position: relative;
    height: 100%;
    transition: all .5s ease-in-out;
    overflow: hidden;
    border: 1px solid #000;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all .5s ease-in-out;
    user-select: none;
    user-drag: none;
}
.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.slider-button{
    width: 100px;
    height: 100px;
    padding: 10px;
    object-fit: cover;
    filter: grayscale(1);
    transition: all .5s ease-in-out;
}
.slider-button.active{
    filter: grayscale(0);
}
.drag-div{
    height: 100%;
}