.calculator{
    width:50%;
    margin: 0 auto;
    padding: 20px;
}
.calculator-output{
    background-color: #000;
    color: #fff;
    text-align: right;
    padding-top: 10px;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}
.calculator-keys{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
.calculator-keys button{
    padding: 20px 10px;
    font-size: 20px;
}
.key--equal {
    grid-column: -2;
    grid-row: 2 / span 4;
}
button.is-depressed{
    background-color: #fff;
    border: 1px solid #000;
}